.git
.vscode
.venv
__pycache__
**/__pycache__
.pytest_cache
.devcontainer/*
*.pyc
*.DS_Store
*.env
*.log
.idea
notebooks
data
models/decision_tree_model.pkl
models/XGBoost_model.pkl
models/gradient_boosting_model.pkl
models/logistic_regression_model.pkl
src/streamlit_app.py
README.md
python_env.yaml
.gitignore
secret
.gitignore
.python-version
pyproject.toml
uv.lock
